[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "3.3.7"

[packages]
molecule = {extras = ["lint", "test"], version = "==24.12.0"}
molecule-plugins = {extras = ["docker"],version = "==23.6.0"}
ansible-core = "==2.17.8"

[requires]
python_version = "3.10.12"
